<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742647588950-ijra18nup0gvieo5ih3abmpr1vsvb1g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742647588950-ijra18nup0gvieo5ih3abmpr1vsvb1g6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>742647588950-q1bn4h3du8oft9ald7iajrp4ngm6efif.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuxQIyAxkbzaHx8z85P1IHYJhQkEIDEI4</string>
	<key>GCM_SENDER_ID</key>
	<string>742647588950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.radiumDraftApp</string>
	<key>PROJECT_ID</key>
	<string>radium-draft</string>
	<key>STORAGE_BUCKET</key>
	<string>radium-draft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742647588950:ios:1b54edd7762e8e39bdf3f7</string>
</dict>
</plist>